

header {
  background-color: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

footer{
  background-color: #343a40;
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  top: 0;
  width: 100%;
}

.logo-nav{
  max-width: 70px;
  margin-left: 30%;
  height: auto;
}

* {
    margin: 0;
    padding: 0;
}

hgroup > h1, h2 {
    margin: 0;
}

/* Inicio Galeria */
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Fim Galeria */

.site-content{
  margin-top: -21px
}

.sobre{
  height: auto;
  padding-bottom: 30px;
  background-color: #343a40;
}

@media only screen and (max-width: 700px) {
    .sobre {
       height: auto;
    }
}

@media only screen and (max-width: 500px) {
    .sobre {
        height: auto;
    }
}

.galeria{
  height: auto;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 700px) {
    .galeria {
        height: auto;
    }
}

@media only screen and (max-width: 500px) {
    .galeria {
        height: auto;
    }
}

.img{
  padding: 0px 28px!important;
  display: flex;
  flex-wrap: wrap;
}

.text-about{
  padding: 0px 30px!important;
  display: flex;
  flex-wrap: wrap;
}

.text{
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
}

@media only screen and (max-width: 700px) {
    .text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .text {
        font-size: 10px;
    }
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    /*position:relative;*/
    height:0;
}
.map-responsive iframe{
    /*left: 35px;*/
    /* right: 35px; */
    top: 0;
    height: 100%;
    width: 94%;
    position: absolute;
}

.img-carousel {
    width: 100%;
    height: 45em;
}

.img-galeria{
  width: 100%;
  height: 13em;
}

.contactos{
  height: auto;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

.portfolio{
  height: auto;
  padding-bottom: 30px;
  background-color: #343a40;
}

.contactoss{
  margin: 0px 15px;
}

@media only screen and (max-width: 700px) {
    .contactoss {
        margin: 0px 0;
    }
}

@media only screen and (max-width: 500px) {
    .contactoss {
        margin: 0px 0;
    }
}

.navbar-fixed-top{
    transition: all 0.5s;
  }





* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 10%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto!important;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 45%!important;
  max-width: 1200px;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 90%!important;
    }
}

@media only screen and (max-width: 500px) {
    .modal-content {
        width: 90%!important;
    }
}

.modal-content1 {
  position: relative;
  background-color: #000000;
  margin: auto;
  padding: 0;
  width: 40%!important;
  max-width: 1200px;
}

@media only screen and (max-width: 700px) {
    .modal-content1 {
        width: 80%!important;
    }
}

@media only screen and (max-width: 500px) {
    .modal-content1 {
        width: 80%!important;
    }
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.mySlides1 {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.demo1 {
  opacity: 0.6;
  max-width: 100%;
  height: 65px;
}

@media only screen and (max-width: 700px) {
    .demo1 {
        height: 45px;
    }
}

@media only screen and (max-width: 500px) {
    .demo1 {
        height: 40px;
    }
}

.active,
.demo:hover {
  opacity: 1;
}

.active,
.demo1:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mapas{
  padding: 200px 30px;
}

@media only screen and (max-width: 700px) {
    .mapas {
      padding: 150px 0px;
    }
}

@media only screen and (max-width: 500px) {
    .mapas {
      padding: 150px 0px;
    }
}

  /* Conatct start */

        .header-title
        {
          text-align: center;
          color:#00bfff;
        }

        #tip 
        {
            display:none;  
        }

        .fadeIn
        {
          animation-duration: 3s;
        }

        .form-control
        {
          border-radius:0px;
          border:1px solid #EDEDED;
        }

        .form-control:focus
        {
          border:1px solid #00bfff;
        }

        .textarea-contact
        {
          resize:none; 
        }

        .btn-send
        {
          border-radius: 0px;
          border:1px solid #00bfff;
          background:#00bfff;
          color:#fff; 
        }

        .btn-send:hover
        {
          border:1px solid #00bfff;
          background:#fff;
          color:#00bfff;
          transition:background 0.5s;   
        }

        .second-portion
        {
          margin-top:50px; 
        }

            @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
    @import "http://fonts.googleapis.com/css?family=Roboto:400,500";

    .box > .icon { text-align: center; position: relative; }
    .box > .icon > .image { position: relative; transition: all 0.3s; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #343a40; vertical-align: middle; }
    .box > .icon:hover > .image { background: #ffcf40; }
    .box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
    .box > .icon:hover > .image > i { color: white !important; }
    .box > .icon > .info { margin-top: -24px; background: transparent; border: 2px solid #969696; padding: 15px 0 10px 0; min-height:163px;}
    .box > .icon:hover > .info { border-color: #ffcf40; color: white; }
    .box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
    .box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
    .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
    .box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
    .box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
    .box .space { height: 30px; }

    @media only screen and (max-width: 768px)
    {
      .contact-form
      {
        margin-top:25px; 
      }

      .btn-send
      {
        width: 100%;
        padding:10px; 
      }

      .second-portion
      {
        margin-top:25px; 
      }
    }
  /* Conatct end */


.facebook-icon{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: fixed;
  right: 15px;
  bottom: 74px;
  background: #343a40;
  z-index: 99;
  border: 2px solid #eabe3d;
  text-align: center;
  padding: 10px 0px;
  transition: all 0.3s;
}
.facebook-icon:hover{
  background: #eabe3d;
}

.instagram-icon{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: fixed;
  right: 15px;
  bottom: 14px;
  background: #343a40;
  z-index: 99;
  border: 2px solid #eabe3d;
  text-align: center;
  padding: 10px 0px;
  transition: all 0.3s;
}
.instagram-icon:hover{
  background: #eabe3d;
}

    
.img-styling{
  height: 30em;
}

@media only screen and (max-width: 700px) {
    .img-styling {
      height: auto;
      max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .img-styling {
      height: auto;
      max-width: 100%;
    }
}   